.container{
    margin: auto;
    max-width: 500px;
    font-family: sans-serif;
}

.heading{
    color: blue;
}

.nav-links{
    display: flex;
    list-style: none;
    padding-left: 0;
}

.nav-link-item{
    padding-right: 2rem; 
}

.nav-link-text{
    color: slategrey;
}

.leftside {
    font-family: 'Courier New', Courier, monospace;
    width: 50%;
    height:100%;
    float: left;
    background-color: brown;
    border-collapse: collapse;
}

.rightside {
    width: 50%;
    height:100%;
    float: right;
    background-color: brown;
    border-collapse: collapse;
}