@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* * {
    outline: 1px solid rgb(0, 0, 0);
  } */

.inter-custom {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}
.background {
    margin:-8px; 
    padding:0;
    overflow-x: hidden; 
    min-height: 100vh;
    /* background-image: linear-gradient(#FF7F57, #FF4A11, #6F1B00); */
    background-image: linear-gradient(#FF7F57, #FF4A11);
}

.styling {
    margin: auto;
    max-width: 1000px;
    font-family: Inter;
    text-shadow: 0px 2.5px 3px #84473a;
}

.splash-text {
    font-size: 18px;
    padding-top: 18%;
    color:rgb(255, 255, 255);
    line-height: .85; 
}

.left,
.right {
    /* display: flex; */
    min-width: 500px;
    max-width: 500px;
    padding: 0;

    font-size: 16px;
    font-weight: 650;
    color:rgb(255, 255, 255);
    line-height: 140%;
}

.left {
    float: left;
    
}
.right {
    float: right;
    display: inline-block;
}

.text-left {
    /* max-width:12%; */
    padding: 5px;
}

.text-title {
    margin-bottom: -10px;
}

.resize {
    float: left;
    width: 154px;
    height: 154px;
    border-radius: 15px;
    margin-right: 15px;
    box-shadow: 0px 2.5px 2px 2px rgb(0 0 0 / 20%);
}

.vertical {
    vertical-align: baseline;
    display: inline-block;
}

.horizontal {
    /* display: flex;
    display:inline-flex;  */
}

.social-box{
    display: flex;
    justify-content: center;
    align-self: flex-start;
}

.social-item {
  padding-right: 35px;
  padding-left: 35px;
}
.social-item:hover {
    opacity: .6;  
    transition: opacity .10s ease-in; /* It slowly shows the element as we place the mouse on the box and when the time reaches 2 seconds, it is fully visible. */  
} 

.handshake-img {
    margin-top:10px;
}